<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics | Admin Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/jquery.js"></script>
    <style>
        .alert {
            display: none;
        }
    </style>
</head>
<body>
    <div class="parent clearfix">
        <div class="bg-illustration">
            <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">
            <div class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        
        <div class="login">
            <div class="container">
                <h1>Login to access to<br />your account</h1>
                <div class="login-form">
                    <div class="alert">
                        <span id="errmess"></span>
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                    <form id="form">
                        <input type="text" placeholder="Your ID" id="driverID" required>
                        <input type="password" placeholder="Password" id="password" required>
                        {{!-- <div class="remember-form">
                            <input type="checkbox" name="rem" id="rem">
                            <label for="rem">Remember me</label>
                        </div>
                        <div class="forget-pass">
                            <a href="#">Forgot Password ?</a>
                        </div> --}}
                        <button type="submit">LOG-IN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#form").on('submit', (e) => {
            e.preventDefault();
            $.ajax({
                url: `/admin/login`,
                type:'POST',
                contentType:'application/json',
                data:JSON.stringify({
                    "id": $("#driverID").val(),
                    "password": $("#password").val()
                }),
                beforeSend: ()=> {
                    $('#track').val("<i class='fa fa-spin fa-gear'><i>")
                },
                success: (response)=> {
                    if(response.success){
                       window.location = '/admin/home';
                    }else{
                        $('.alert').css('display', 'block');
                        document.querySelector('#errmess').innerHTML = response.message;
                    }
                }
            });
        });
    </script>
</body>
</html>