<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics | Track package</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/jquery.js"></script>
    <script src='http://www.bing.com/api/maps/mapcontrol?callback=getMap'></script>
    
    <style>
        .b-success {
            background-color: rgb(4, 61, 4);
        }
    </style>
</head>
<body>
    <div class="r-app">
        <!-- <a target="_blank" href="https://icons8.com/icon/J5qM4gKHqcW1/bus">Bus</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
        <header>
            <nav class="hr-row justify-between p-2">
                <div class="tx-xl pointer">
                    &#9776;
                </div>
                <div class="">
                    <h2>Tracking</h2>
                </div>
                <div class="px-2 hr-row justify-between gap-2 ml-2 rounded-lg b-gray">
                    <div>
                        <i class="fa fa-location tx-xl"></i>
                            California
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div>
                        <i class="fa fa-bell tx-xl"></i>
                    </div>
                </div>
            </nav>
        </header>
        <div class="d-col h-full">
            <div class="map" id="map"></div>
            <div class="track curve-top b-gray p-2">
                <h2>Package Details</h2>
                <div class="track-box gap-1 my-2">
                    <div class="p-2">
                        <div class="row w-full gap-1 my-1 b-white p-2 rounded">
                            <div class="w-full h-64 d-col justify-between">
                                <div class="w-full hr-row justify-between">
                                    <p class="bold tx-xl">
                                        <i class="c-red fa fa-location-arrow"></i> <span id="origin"></span>
                                    </p>
                                    <!-- <p>16 Oct, 19</p> -->
                                </div>
                                <div class="w-full hr-row justify-between">
                                    <p class="bold tx-xl">
                                        <i class="c-red fa fa-map-marker"></i> <span id="dest"></span>
                                    </p>
                                    <!-- <p>17 Oct, 19</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="rounded row b-white gap-1 h-32 my-1">
                            <div class="b-red w-64 centered rounded">
                                <i class="c-white fa fa-2x fa-dashboard"></i>
                            </div>
                            <div class="ctnt">
                                <span>Driver Name: </span><span class="bold" id="driverName"></span>
                                <p>
                                    <span>Receiver Name: </span><span class="bold" id="receiver"></span>
                                </p>
                                <span>Sender Name: </span><span class="bold" id="sender"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info-bar">
                <p class="text-center bold tx-lg b-red p-2 c-white">Awaiting.... <i class="fa fa-truck"></i></p>
            </div>
        </div>
    
    </div>
    <script>
        let tracking_id = window.location.search.split('=')[1];
        const socket = io();
        var map, originPin, userPin, destPin;
        
        function getMap(){
            map = new Microsoft.Maps.Map('#map', {
                credentials: 'AnXDu7VUVu4HAlY0Te9zOTvQViDBLKmfE3I71n2sWe3uCgjpt5tZ1ufuKHtyO9OX',
            });

            if(tracking_id) {
                socket.emit('join', tracking_id);

                $.ajax({
                    url: `/client/package/id`,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify({
                        "tracking_id": tracking_id
                    }),
                    beforeSend: ()=> {
                        $('#track').val("<i class='fa fa-spin fa-gear'><i>")
                    },
                    success: (response)=> {
                        if(response.success){
                            $('#notif_count').html(response.result.length);
                            $('#driverName').html(response.result.driverName);
                            $('#origin').html(response.result.orgLoc);
                            $('#dest').html(response.result.destLoc);
                            $('#receiver').html(response.result.reciever);
                            $('#sender').html(response.result.sender);

                            // set origin pin on map to show the package start point
                            var orgPin = new Microsoft.Maps.Location(response.result.orgcoords[0], response.result.orgcoords[1]);
                            originPin = new Microsoft.Maps.Pushpin(orgPin);
                            originPin.metadata = {
                                title: 'Origin',
                                description: 'Package was brought here'
                            };
                            map.entities.push(originPin);

                            // // set destination pin on map
                            var dstPin =  new Microsoft.Maps.Location(response.result.destcoords[0], response.result.destcoords[1]);
                            destPin = new Microsoft.Maps.Pushpin(dstPin);
                            originPin.metadata = {
                                title: 'Destination',
                                description: 'Package destination is here'
                            };
                            map.entities.push(destPin);

                            if(response.result.status != 0) {
                                document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg b-success p-2 c-white">Pacakage has arrived<i class="fa fa-truck"></i></p>`;
                            }
                            
                        }else{
                            alert("Package not found incorrect tracking number");
                            window.location = '/client';
                        }
                    }
                });

                socket.on("start_loc", (msg)=> {
                    document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg b-red p-2 c-white">In Transit <i class="fa fa-truck"></i></p>`;
                });

                socket.on('current_loc', (dloc) => {
                    console.log(dloc);
                    var loc = new Microsoft.Maps.Location(dloc[0], dloc[1]);
                    userPin = new Microsoft.Maps.Pushpin(loc, { 
                        icon: '/images/icons8-bus-16.png',
                        visible: false
                    });
                    map.entities.push(userPin);

                    //Update the user pushpin.
                    userPin.setLocation(loc);
                    userPin.setOptions({ visible: true });

                    //Center the map on the user's location.
                    map.setView({ center: loc });
                });
                
                socket.on('package-arrived', (msg) => {
                    document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg b-success p-2 c-white">${msg} <i class="fa fa-truck"></i></p>`;
                });
            }else{
                window.location = '/client';
            }
        };       
    </script>
</body>
</html>