<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics | Track package</title>

    <link rel="shortcut icon" href="/cryptoma/img/favicon.png" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="/cryptoma/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
	<link href="/cryptoma/css/animate.css" rel="stylesheet">
	<!-- Font-awesome -->
	<link rel="stylesheet" href="/cryptoma/fonts/font-awesome/css/font-awesome.min.css">
	<!-- Flaticon -->
	<link rel="stylesheet" href="/cryptoma/fonts/flaticon/css/flaticon.css">
	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900" rel="stylesheet">
	<!-- Main CSS -->
	<link href="/styles.css" rel="stylesheet">
	<link href="/cryptoma/style.css" rel="stylesheet">

    <script src="/socket.io/socket.io.min.js"></script>
    <script src="/jquery.js"></script>
    <script src='http://www.bing.com/api/maps/mapcontrol?callback=getMap'></script>
</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="91">
    <div class="r-app">
        <!--Preload-->
        <div class="preloader">
            <div class="preloader_image">
                <div class="sk-double-bounce">
                    <div class="sk-child sk-double-bounce1"></div>
                    <div class="sk-child sk-double-bounce2"></div>
                </div>
            </div>
        </div>
        <header>
            <nav class="navbar navbar-expand-lg fixed-top bg-white">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="/cryptoma/img/loo.png" alt="Logo">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/client/#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/#about-us">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/#track">Track package</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/#faqs">Faqs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/client/#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- end nav -->
        </header>

        <div class="d-col h-full">
            <div class="map" id="map"></div>
            <div class="track curve-top b-gray p-2">
                <h2>Package Details</h2>
                <div class="track-box gap-1 my-2">
                    <div class="p-2">
                        <div class="row w-full gap-1 my-1 b-white p-2 rounded">
                            <div class="w-full h-64 d-col justify-between">
                                <div class="w-full hr-row justify-between">
                                    <div class="bold">
                                        Origin <i class="c-red fa fa-location-arrow"></i> <span id="origin"></span>
                                    </div>
                                    <!-- <p>16 Oct, 19</p> -->
                                </div>
                                <div class="w-full hr-row justify-between">
                                    <div class="bold">
                                        Destination <i class="c-red fa fa-map-marker"></i> <span id="dest"></span>
                                    </div>
                                    <!-- <p>17 Oct, 19</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="rounded row b-white gap-1 my-1">
                            <div class="b-red w-64 centered rounded">
                                <i class="c-white fa fa-2x fa-dashboard"></i>
                            </div>
                            <div class="ctnt">
                                <span>Driver Name: </span><span class="bold" id="driverName"></span>
                                <div>
                                    <span>Receiver Name: </span><span class="bold" id="receiver"></span>
                                </div>
                                <span>Sender Name: </span><span class="bold" id="sender"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="info-bar">
                <p class="text-center bold tx-lg b-red p-2 c-white">Awaiting.... <i class="fa fa-truck"></i></p>
            </div>
        </div>
    
    </div>

    <script src="/cryptoma/js/popper.min.js"></script>
    <script src="/cryptoma/js/bootstrap.min.js"></script>
    <script src="/cryptoma/js/jquery.easing.min.js"></script>
	<script src="/cryptoma/js/tilt.jquery.js"></script>
	<script src="/cryptoma/js/wow.js"></script>
	<script src="/cryptoma/js/SmoothScroll.js"></script>
	<script src="mail//cryptoma/js/form-validator.min.js"></script>
	<script src="mail//cryptoma/js/contact-form-script.js"></script>
    <script src="/cryptoma/js/script.js"></script>
    <script>
        let tracking_id = window.location.search.split('=')[1];
        const socket = io();
        var map, originPin, userPin, destPin;
        
        function getMap(){
            map = new Microsoft.Maps.Map('#map', {
                credentials: 'AnXDu7VUVu4HAlY0Te9zOTvQViDBLKmfE3I71n2sWe3uCgjpt5tZ1ufuKHtyO9OX',
            });
            var loc = map.getCenter();

            if(tracking_id) {
                socket.emit('join', tracking_id);

                $.ajax({
                    url: `/client/package/id`,
                    type:'POST',
                    contentType:'application/json',
                    data:JSON.stringify({
                        "tracking_id": tracking_id
                    }),
                    beforeSend: ()=> {
                        $('#track').val("<i class='fa fa-spin fa-gear'><i>")
                    },
                    success: (response)=> {
                        if(response.success){
                            $('#notif_count').html(response.result.length);
                            $('#driverName').html(response.result.driverName);
                            $('#origin').html(response.result.orgLoc);
                            $('#dest').html(response.result.destLoc);
                            $('#receiver').html(response.result.reciever);
                            $('#sender').html(response.result.sender);

                            // set origin pin on map to show the package start point
                            var orgPin = new Microsoft.Maps.Location(response.result.orgcoords[0], response.result.orgcoords[1]);
                            originPin = new Microsoft.Maps.Pushpin(orgPin, {
                                title: 'Origin'
                            });
                            map.entities.push(originPin);

                            userPin = new Microsoft.Maps.Pushpin(orgPin, { 
                                icon: '/images/icons8-bus-16.png',
                                visible: true
                            });


                            // // set destination pin on map
                            var dstPin =  new Microsoft.Maps.Location(response.result.destcoords[0], response.result.destcoords[1]);
                            destPin = new Microsoft.Maps.Pushpin(dstPin, {
                                title: 'Destination'
                            });
                            map.entities.push(destPin);

                            if(response.result.status != 0) {
                                document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg btn-success p-2 c-white">Pacakage has arrived<i class="fa fa-truck"></i></p>`;
                            }
                            
                        }else{
                            alert("Package not found incorrect tracking number");
                            window.location = '/client';
                        }
                    }
                });

                socket.on("start_loc", (msg)=> {
                    document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg b-red p-2 c-white">In Transit <i class="fa fa-truck"></i></p>`;
                });

                socket.on('current_loc', (dloc) => {
                    console.log(dloc)
                    document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg b-red p-2 c-white">In Transit <i class="fa fa-truck"></i></p>`;
                    var loc = new Microsoft.Maps.Location(dloc[0], dloc[1]);
                    userPin.geometry.bounds = [dloc[0], dloc[1], dloc[0], dloc[1]]
                    
                    map.entities.push(userPin);

                    //Update the user pushpin.
                    userPin.setLocation(loc);
                    userPin.setOptions({ visible: true });

                    //Center the map on the driver's location.
                    map.setView({ center: loc });
                });
                
                socket.on('package-arrived', (msg) => {
                    document.querySelector('#info-bar').innerHTML = `<p class="text-center bold tx-lg bg-success p-2 c-white">${msg} <i class="fa fa-truck"></i></p>`;
                });
            }else{
                window.location = '/client';
            }
        };       
    </script>
</body>
</html>